nav {
  display: flex;
  justify-content: space-around;
  height: 140px;
  padding-top: 1rem;
}

.nav-logo {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.nav-logo > img {
  width: 100%;
  height: auto;
}

.nav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
}

.nav-contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 0.5rem;
}

.nav-contact > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-contact > div > p {
  font-size: 12px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.3rem;
}

.nav-button {
  background-color: #2e2e2e;
  border-radius: 0.5rem 0.5rem 0 0;
  color: var(--color-white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 0.8rem 0.2rem;
  position: relative;
  text-align: center;
  transition: var(--transition);
  width: 100%;
  border: 1px solid black;
}

.nav-button:before {
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 0.5rem 0.5rem 0 0;
  content: "";
  height: 50%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: var(--transition);
  width: 100%;
}

.nav-button:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  background-color: #5dce12;
}

.sidebar {
  display: none;
}

@media screen and (max-width: 1250px) {
  .nav-contact > div > p {
    font-size: 10px;
  }
}

@media screen and (max-width: 1240px) {
  .nav-button {
    font-size: 14px;
  }
}

@media screen and (max-width: 1116px) {
  .nav-button {
    font-size: 10px;
  }
}

@media screen and (max-width: 685px) {
  nav {
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }

  .nav-logo {
    flex: auto;
  }

  .nav-logo > img {
    width: 40%;
    height: auto;
  }

  .nav-content {
    gap: 1rem;
    flex: auto;
  }
}

@media screen and (max-width: 500px) {
  nav {
    gap: 1rem;
  }

  .nav-logo > img {
    width: 60%;
    height: auto;
  }

  .nav-links {
    justify-content: center;
    gap: 0.1rem;
  }

  .nav-contact {
    gap: 0.5rem;
  }

  .nav-contact > div {
    width: 100%;
    flex-direction: column;
    gap: 0rem;
  }

  .nav-contact > div > p {
    font-size: 8px;
    text-align: center;
  }
}
